
.cart-item-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    height: 80px;
    padding: 3%;
}

.item-details-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
}

.image {
   width: 30%;
   height: 100%;
}

.name {
    font-size: 16px;
}

